.buttonapi {
       color: #ecf0f1;
       font-size: 17px;
       background-color: #e67e22;
       border: 1px solid #f39c12;
       border-radius: 5px;
       padding: 10px;
       box-shadow: 0px 6px 0px #d35400;
       transition: all .1s;
      }
      
      .buttonapi:active {
       box-shadow: 0px 2px 0px #d35400;
       position: relative;
       top: 2px;
      }


      .buttonuser {
       --color: #560bad;
       font-family: inherit;
       display: inline-block;
       width: 8em;
       height: 2.6em;
       line-height: 2.5em;
       margin: 20px;
       position: relative;
       overflow: hidden;
       border: 2px solid var(--color);
       transition: color .5s;
       z-index: 1;
       font-size: 17px;
       border-radius: 6px;
       font-weight: 500;
       color: var(--color);
      }
      
      .buttonuser:before {
       content: "";
       position: absolute;
       z-index: -1;
       background: var(--color);
       height: 150px;
       width: 200px;
       border-radius: 50%;
      }
      
      .buttonuser:hover {
       color: #fff;
      }
      
      .buttonuser:before {
       top: 100%;
       left: 100%;
       transition: all .7s;
      }
      
      .buttonuser:hover:before {
       top: -30px;
       left: -30px;
      }
      
      .buttonuser:active:before {
       background: #3a0ca3;
       transition: background 0s;
      }

      .input {
       color: #8707ff;
       border: 2px solid #8707ff;
       border-radius: 10px;
       padding: 10px 25px;
       background: transparent;
       max-width: 190px;
      }
      
      .input:active {
       box-shadow: 2px 2px 15px #8707ff inset;
      }
      